version: 2.1

workflows:
  version: 2
  build-deploy:
    jobs:
      - hugo_job:
          name: deploy-test
      - hugo_job:
          name: deploy-prod
          domain: REZ
          requires:
            - deploy-test
          filters:
            branches:
              only: master

jobs:
  hugo_job:
    parameters:
      domain:
        description: Environment variables prefix. For Eddie this is either TEST or REZ
        type: string
        default: TEST   
    docker:
      - image: cibuilds/hugo:0.84.4
    working_directory: ~/repo
    steps:
      - checkout   
      - run:
          name: Checkout submodule (theme)
          command: |
            git submodule sync
            git submodule update --init
      - run:
          name: HUGO build for Test domain
          command: |
            hugo -v -s ~/repo/src/ --destination /tmp/public -b https://${<<parameters.domain>>HOST}
            ls /tmp/public
            if [ ! -f /tmp/public/index.html ];then
              echo "index.html not created, failing"
              exit 1
            fi
      - add_ssh_keys
      - run:
          name: Keyscan  (HACK)
          command: ssh-keyscan -H ${<<parameters.domain>>HOST} >> ~/.ssh/known_hosts
      - run:
          name: Deploy public folder to <<parameters.domain>>
          command: |
            whoami
            sudo apt-get install -y rsync
            rsync -avz --delete /tmp/public/ ${<<parameters.domain>>USER}@${<<parameters.domain>>HOST}:${<<parameters.domain>>PATH}/
      - run:
          name: Simple content check
          command: |
            HTTPCODE=`curl -s -o /dev/null -w "%{http_code}" https://${<<parameters.domain>>HOST}/index.html`
            if [ "$HTTPCODE" -ne 200 ];then
              echo "index.html not found, failing"
              exit 1
            fi
